$border-thickness: 2px;

.Featured-container {
    width: inherit;
    height: inherit;
    display: flex;

    .Featured-project {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;

        .Featured-project-content-wrapper {
            width: 60%;
            height: 60%;

            .Featured-project-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top: $border-thickness solid gold;
                box-sizing: border-box;
            }
        }

        .Featured-project-info {
            box-sizing: border-box;
            padding: 20px;
            width: 40%;
            height: 60%;
            background-color: #080808;
            border-top: $border-thickness solid gold;
            border-right: $border-thickness solid gold;
        }
    }
}
