@font-face {
    font-family: 'Atmos';
    src: url('../fonts/aAtmospheric.otf');
}

$selectedHeaderBtn: #f1da36;

.Nav-drawer-content {
    height: 100%;
    background-color: #080808;
    border-left: 1px solid rgba(255, 255, 255, 0.12);

    .Nav-option-button {
        padding: 10%;
        color: white;
        transition: color 500ms;

        &:hover {
            color: #f1da36;
            transition: color 250ms;

            .Nav-option-button-icon {
                color: #f1da36;
                transition: color 250ms;
            }
        }

        .Nav-option-button-icon {
            color: white;
            transition: color 500ms;
        }
    }
}

.Portfolio-header {
    position: fixed;
    z-index: 2;
    background-color: #080808;
    width: 100%;
    padding: 0.5% 1% 0.5% 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

    .Header-container {
        font-family: 'Atmos';
        letter-spacing: 3px;
        width: inherit;
        display: flex;
        justify-content: space-between;

        .Header-web-title {
            margin: auto;
        }

        .Header-options-toggle {
            font-family: 'Atmos';
            letter-spacing: 3px;
            background-color: inherit;
            cursor: pointer;
            border: none;
            margin: 0% 3% 0% 3%;
            padding: 4px 8px;
            color: white;

            &:hover {
                color: $selectedHeaderBtn;
                transition: color 250ms;
            }
        }
    }
}
