@font-face {
    font-family: 'Atmos';
    src: url('../fonts/aAtmospheric.otf');
}

.Portfolio {
    width: inherit;
    height: inherit;
    background-color: #282c34;
    color: white;

    .Background-video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
    }

    .Portfolio-section-featured {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .Featured-project-img {
            margin-bottom: 5%;
            height: 60%;
            border-radius: 50%;
            border: 20px solid #f1da36;
        }
    }

    .Portfolio-section-projects {
        position: relative;
        background-color: transparent;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Portfolio-section-bio {
        position: relative;
    }

    .Portfolio-section-contact {
        position: relative;
        background-color: transparent;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// -------------------------------------------

.ProjectList {
    width: 80%;

    .ProjectList-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ProjectList-item {
            width: 100%;
            display: flex;

            .ProjectList-item-image {
                position: relative;
                flex: 1;
                width: 30%;
            }

            .ProjectList-item-content {
                box-sizing: border-box;
                padding: 20px;
                width: 70%;

                background-color: black;
            }
        }
    }
}

// -------------------------------------------

.Test {
    margin: 0;
    padding: 10px;
}

// -------------------------------------------

.App {
    position: relative;
    text-align: center;
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
