@font-face {
    font-family: 'Atmos';
    src: url('../fonts/aAtmospheric.otf');
}

@font-face {
    font-family: 'MajorMonoDisplay';
    src: url('../fonts/MajorMonoDisplay.ttf');
}

.Skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;

    .Container-header {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        border-bottom: 1px solid gold;
        margin-bottom: 30px;
        color: white;
        font-family: 'MajorMonoDisplay';
        font-size: 2.75rem;
    }

    .skill-overview-card {
        margin: 0px 6px 50px 6px;
        background-color: #2d2d2d;
        color: white;
        text-align: center;
        padding: 20px 16px;

        .skill-card-subsection-margin {
            margin-bottom: 20px;
        }

        .skill-overview-card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;
            color: white;
        }

        .skill-card-info {
            text-align: left;

            .skill-card-subsection-title {
                font-weight: bold;
                color: #ffbf1f;
            }

            .skill-card-info-list {
                list-style-type: square;
                padding-left: 25px;
                margin-top: 6px;
            }
        }
    }
}
