$border-thickness: 2px;

.Team-container {
    width: inherit;
    height: inherit;
    background-color: #0d0d0d;

    .container-header {
        margin: 0 auto;
        width: 80%;
        color: white;
        padding: 3vw 0;
        display: flex;
        border-bottom: 1px solid gold;

        .container-header-content {
            margin: auto;
            display: flex;
            align-items: center;
            font-family: 'Atmos';
            font-size: 2.5vw;

            .container-header-title {
                letter-spacing: 15px;
                padding: 1vw 0 0 2vw;
            }
        }
    }

    .Team-members {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: 90vw;
        margin: auto;
        padding: 5vw 0;

        .Team-member-card {
            margin: 1vw auto;
            flex: 1 1 47%;
            max-width: 47%;
            display: flex;
            flex-direction: column;

            .Team-member-overview {
                display: flex;
                align-items: center;
                padding: 1vw;
                margin-bottom: 0.5vw;
                background-color: #2d2d2d;

                .Team-member-img-wrapper {
                    width: 10vw;
                    height: 10vw;
                    margin-right: 2vw;

                    .Team-member-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: $border-thickness solid gold;
                        border-radius: 50%;
                        box-sizing: border-box;
                    }
                }

                .Team-member-info {
                }
            }
            .Team-member-content {
                padding: 2vw;
                box-sizing: border-box;
                width: 100%;
                background-color: #202020;
                flex: 1 1;
            }
        }
    }
}
